body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-block {
    height: 85vh;
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    align-items: stretch;

    -webkit-box-shadow: 2px 5px 9px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 5px 9px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 5px 9px 4px rgba(34, 60, 80, 0.2);
}

.main-block-left {
    width: 50%;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
}

.main-block-right {
    width: 50%;
    padding: 1rem;
}


.block-search {

}

.block-editing {
    height: 100%;
}

#search-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.4rem 0.7rem;
    border: none;
    border-bottom: 1px solid gainsboro;
    outline: none;
}

#textarea-place {
    height: 100%;
}

#textarea-input {
    outline: none;
    border: none;
    padding: 1rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.update-button{
    background-color: ghostwhite;
    color: gray;
    cursor: pointer;
    padding: 0.6em;
    font-size: 1.3em;
    text-align: center;
    border: 0px solid gray;
}

.update-button:hover{
    background-color: gainsboro;
    color: ghostwhite;
}