body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.main-block {
    color: #2d2d2d;
}

#login-form-input {
    font-size: 2em;
    text-align: center;
}

.links-block {
    font-size: 2em;
}

.pass-links {
    border: 2px solid #c3c3c3;
    border-radius: 15px;
    padding: 0.4em;
    box-sizing: border-box;
}

.one-link {
    margin: 0.3em;
}

a {
    transition: 0.3s;
}

a:hover {
    color: #797979;
    margin-left: 0.5em;
}

.hidden {
    display: none;
}